<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCE5jkAfURqCIQRL98OiIOC2r-GfEISLPM</string>
	<key>GCM_SENDER_ID</key>
	<string>527685097434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authentication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>auth-7b480</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-7b480.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527685097434:ios:4a8ed5d3894a37471392e3</string>
</dict>
</plist>